smtp       inet  n       -       n       -       1       postscreen
smtpd      pass  -       -       n       -       -       smtpd
  -o smtpd_helo_restrictions={{ SMTPD_SMTPD_HELO_RESTRICTIONS }}
  -o smtpd_sasl_auth_enable={{ SMTPD_SMTPD_SASL_AUTH_ENABLE }}
  -o smtpd_sender_restrictions={{ SMTPD_SMTPD_SENDER_RESTRICTIONS }}
smtps    inet  n       -       n       -       -       smtpd
  -o smtpd_tls_wrappermode={{ SMTPS_SMTPD_TLS_WRAPPERMODE }}
  -o smtpd_client_restrictions={{ SMTPS_SMTPD_CLIENT_RESTRICTIONS }}
  -o smtpd_tls_mandatory_protocols={{ SMTPS_SMTPD_TLS_MANDATORY_PROTOCOLS }}
  -o tls_preempt_cipherlist={{ SMTPS_TLS_PREEMPT_CIPHERLIST }}
submission inet n       -       n       -       -       smtpd
  -o smtpd_client_restrictions={{ SUBMISSION_SMTPD_CLIENT_RESTRICTIONS }}
  -o smtpd_enforce_tls={{ SUBMISSION_SMTPD_ENFORCE_TLS }}
  -o smtpd_tls_security_level={{ SUBMISSION_SMTPD_TLS_SECURITY_LEVEL }}
  -o smtpd_tls_mandatory_protocols={{ SUBMISSION_SMTPD_TLS_MANDATORY_PROTOCOLS }}
  -o tls_preempt_cipherlist={{ SUBMISSION_TLS_PREEEMPT_CIPHERLIST }}
588 inet n      -       n       -       -       smtpd
  -o smtpd_client_restrictions={{ P588_SMTPD_CLIENT_RESTRICTIONS }}
  -o smtpd_tls_auth_only={{ P588_SMTPD_TLS_AUTH_ONLY }}
  -o smtpd_sender_restrictions={{ P588_SMTPD_SENDER_RESTRICTIONS}}
590 inet n      -       n       -       -       smtpd
  -o smtpd_client_restrictions={{ P590_SMTPD_CLIENT_RESTRICTIONS }}
  -o smtpd_tls_auth_only={{ P590_SMTPD_TLS_AUTH_ONLY }}
  -o smtpd_milters={{ P590_SMTPD_MILTERS }}
  -o non_smtpd_milters={{ P590_NON_SMTPD_MILTERS }}
smtp_enforced_tls      unix  -       -       n       -       -       smtp
  -o smtp_tls_security_level={{ SMTP_ENFORCED_TLS_SMTP_TLS_SECURITY_LEVEL }}
  -o syslog_name={{ SMTP_ENFORCED_TLS_SYSLOG_NAME }}
  -o smtp_delivery_status_filter=pcre:{{ SMTP_ENFORCED_TLS_SMTP_DELIVERY_STATUS_FILTER }}
smtp_via_transport_maps      unix  -       -       n       -       -       smtp
  -o smtp_sasl_password_maps={{ SMTP_VIA_TRANSPORT_MAPS_SMTP_SASL_PASSWORD_MAPS }}

tlsproxy   unix  -       -       n       -       0       tlsproxy
dnsblog    unix  -       -       n       -       0       dnsblog
pickup     fifo  n       -       n       60      1       pickup
cleanup    unix  n       -       n       -       0       cleanup
qmgr       fifo  n       -       n       300     1       qmgr
tlsmgr     unix  -       -       n       1000?   1       tlsmgr
rewrite    unix  -       -       n       -       -       trivial-rewrite
bounce     unix  -       -       n       -       0       bounce
defer      unix  -       -       n       -       0       bounce
trace      unix  -       -       n       -       0       bounce
verify     unix  -       -       n       -       1       verify
flush      unix  n       -       n       1000?   0       flush
proxymap   unix  -       -       n       -       -       proxymap
proxywrite unix  -       -       n       -       1       proxymap
smtp       unix  -       -       n       -       -       smtp
relay      unix  -       -       n       -       -       smtp
showq      unix  n       -       n       -       -       showq
error      unix  -       -       n       -       -       error
retry      unix  -       -       n       -       -       error
discard    unix  -       -       n       -       -       discard
local      unix  -       n       n       -       -       local
virtual    unix  -       n       n       -       -       virtual
lmtp       unix  -       -       n       -       -       lmtp
anvil      unix  -       -       n       -       1       anvil
scache     unix  -       -       n       -       1       scache
maildrop   unix  -       n       n       -       -       pipe flags=DRhu
    user=vmail argv=/usr/bin/maildrop -d ${recipient}

# start zeyple
zeyple    unix  -       n       n       -       -       pipe
  user=zeyple argv={{ ZEYPLE_EXEC_PATH }} ${recipient}
127.0.0.1:10026 inet  n       -       n       -       10      smtpd
  -o content_filter=
  -o receive_override_options=no_unknown_recipient_checks,no_header_body_checks,no_milters
  -o smtpd_helo_restrictions=
  -o smtpd_client_restrictions=
  -o smtpd_sender_restrictions=
  -o smtpd_recipient_restrictions=permit_mynetworks,reject
  -o mynetworks=127.0.0.0/8
  -o smtpd_authorized_xforward_hosts=127.0.0.0/8
# end zeyple

# start whitelist_fwd
127.0.0.1:10027 inet n n n - 0 spawn user=nobody argv=/usr/local/bin/whitelist_forwardinghosts.sh
# end whitelist_fwd

# start watchdog-specific
589 inet n      -       n       -       -       smtpd
  -o smtpd_client_restrictions=permit_mynetworks,reject
  -o syslog_name=watchdog
  -o syslog_facility=local7
  -o smtpd_milters=
  -o cleanup_service_name=watchdog_cleanup
  -o non_smtpd_milters=
watchdog_cleanup unix  n       -       n       -       0       cleanup
  -o syslog_name=watchdog
  -o syslog_facility=local7
  -o queue_service_name=watchdog_qmgr
watchdog_qmgr fifo  n       -       n       300     1       qmgr
  -o syslog_facility=local7
  -o syslog_name=watchdog
  -o rewrite_service_name=watchdog_rewrite
watchdog_rewrite    unix  -       -       n       -       -       trivial-rewrite
   -o syslog_facility=local7
   -o syslog_name=watchdog
   -o local_transport=watchdog_discard
watchdog_discard    unix  -       -       n       -       -       discard
   -o syslog_facility=local7
   -o syslog_name=watchdog

# end watchdog-specific
