################################################################################
## POSTFIX RELAY RECIPIENT MAPS                                               ##
################################################################################

hosts       = {{ OE_SQL_SERVER_HOST }}:{{ OE_SQL_SERVER_PORT }}
user        = {{ OE_DB_BIND_USER }}
password    = {{ OE_DB_BIND_PASSWD }}
dbname      = {{ OE_DB_NAME }}
query       = SELECT DISTINCT
              CASE WHEN '%d' IN (
                SELECT domain FROM domain
                WHERE relay_all_recipients=1
                AND domain='%d'
                AND backupmx=1
              )
              THEN '%s' ELSE (
                SELECT goto FROM alias WHERE address='%s' AND active='1'
              )
              END AS result;
# %d - represents the email domains
# %s - represents the email address
