hosts = localhost
dn = cn=vmail,o=hosting,dc=example,dc=tld
dnpass = readonly
auth_bind = yes
ldap_version = 3
base = o=hosting,dc=example,dc=tld
deref = never
scope = subtree
user_attrs = quota=quota=maildir:storage
user_filter = (&(objectClass=VirtualMailAccount)(accountActive=TRUE)(mail=%u))
pass_attrs = mail, userPassword
pass_filter = (&(objectClass=VirtualMailAccount)(accountActive=TRUE)(mail=%u))
default_pass_scheme = SSHA
